@model List<Employee>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Προσωπικό</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="row">
                <div class="col-8 text-end">
                    <form asp-controller="Employee" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <label class="btn btn-outline-success">
                                <i class="bi bi-tsunami"></i><i class="bi bi-tsunami"></i> Προσθήκη Αρχείου <i class="bi bi-tsunami"></i><i class="bi bi-tsunami"></i>
                                <input type="file" name="file" class="d-none" id="fileInput" onchange="document.getElementById('fileName').innerHTML = this.files[0].name">
                            </label>
                            <span id="fileName" class="text-info align-self-center ms-3"></span>
                            <button type="submit" class="btn btn-outline-success ms-2">OK</button>
                        </div>
                    </form>
                </div>
                <div class="col-4 text-end">
                    <a asp-controller="Employee" asp-action="Create" class="btn btn-info">
                        <i class="bi bi-plus-square"></i> Προσθήκη Προσωπικού
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped text-center" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th style ="width: 5%;">ΑΜ</th>
                    <th style ="width: 10%;">Βαθμός</th>
                    <th style ="width: 10%;">Κατηγορία</th>
                    <th style ="width: 15%;">Καθήκον</th>
                    <th style ="width: 15%;">Επώνυμο</th>
                    <th style ="width: 10%;">Πλεύσιμες</th>
                    <th style ="width: 5%;">Δικαιούμενο Ποσό</th>
                    <th style ="width: 30%;">Επιλογές </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.AM</td>
                        <td>@emp.RankAmount.Rank</td>
                        <td>@emp.CategoryPercentage.Category</td>
                        <td>@emp.RankAmount.Duty</td>
                        <td>@emp.LastName</td>
                        <td>@emp.SeaDay</td>
                        <td>@((emp.RankAmount.BaseAmount * emp.CategoryPercentage.Percentage).ToString("F2")) €</td>

                        <td>
                            <div class=" btn-group" role="group">
                                <form asp-controller="Employee" asp-action="AddSeaDay" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@emp.AM" />
                                    <button type="submit" class="btn btn-success mx-2">
                                        <i class="bi bi-water"></i> + 1
                                    </button>
                                </form>
                                <form asp-controller="Employee" asp-action="RemoveSeaDay" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@emp.AM" />
                                    <button type="submit" class="btn btn-warning mx-2">
                                        <i class="bi bi-water"></i> - 1
                                    </button>
                                </form>
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.AM" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil"></i> Επεξεργασία
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
