@model List<Employee>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Προσωπικό</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-3">
            <div>
                <a asp-controller="UploadedFile" asp-action="Index" class="btn btn-outline-warning">
                    <i class="bi bi-plus-square"></i> Διαχείρηση Αρχείων
                </a>
            </div>
            <div>
                <a asp-controller="Employee" asp-action="Create" class="btn btn-info">
                    <i class="bi bi-plus-square"></i> Προσθήκη Προσωπικού
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped text-center" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th style="width: 5%;">ΑΜ</th>
                    <th style="width: 10%;">Βαθμός</th>
                    <th style="width: 10%;">Κατηγορία</th>
                    <th style="width: 15%;">Καθήκον</th>
                    <th style="width: 15%;">Επώνυμο</th>
                    <th style="width: 10%;">Πλεύσιμες</th>
                    <th style="width: 5%;">Δικαιούμενο Ποσό</th>
                    <th style="width: 30%;">Επιλογές </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.AM</td>
                        <td>@emp.RankAmount.Rank</td>
                        <td>@emp.CategoryPercentage.Category</td>
                        <td>@emp.RankAmount.Duty</td>
                        <td>@emp.LastName</td>
                        <td>@emp.SeaDay</td>
                        <td>@((emp.RankAmount.BaseAmount * emp.CategoryPercentage.Percentage).ToString("F2")) €</td>

                        <td>
                            <div class=" btn-group" role="group">
                                <form asp-controller="Employee" asp-action="AddSeaDay" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@emp.AM" />
                                    <button type="submit" class="btn btn-success mx-2">
                                        <i class="bi bi-water"></i> + 1
                                    </button>
                                </form>
                                <form asp-controller="Employee" asp-action="RemoveSeaDay" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@emp.AM" />
                                    <button type="submit" class="btn btn-warning mx-2">
                                        <i class="bi bi-water"></i> - 1
                                    </button>
                                </form>
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.AM" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil"></i> Επεξεργασία
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@* edw na ftiaksw to session scripts

        edw me jQuery na edopizw ta AddSeaDay kai RemoveSeaDay kai na kanw ajax request ston
        EmployeeController kai na dw ti allazw sto RemoveSeaDay kai na dw to return,
        tha exei return (se Json)??? i tpt?? *@