@model List<CategoryPercentage>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Κατηγορίες</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="CategoryPercentage" asp-action="Create" class="btn btn-info">
                    <i class="bi bi-plus-square"></i> Προσθήκη Κατηγορίας
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped text-center" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th style="width: 5%;" >Α/Α</th>
                    <th style="width: 10%;" >Κατηγορία</th>
                    <th style="width: 10%;" >Ποσοστό</th>
                    <th style="width: 45%;" >Περιγραφή</th>
                    <th style="width: 30%;">Επιλογές </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                }
                @foreach (var cp in Model)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@cp.Category</td>
                        <td>@( (cp.Percentage * 100).ToString("0.##") + "%" )</td>
                        <td>@cp.Description</td>

                        <td>
                            <div class=" btn-group" role="group">
                                <a asp-controller="CategoryPercentage" asp-action="Edit" asp-route-id="@cp.CategoryId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil"></i> Επεξεργασία
                                </a>
                                <a asp-controller="CategoryPercentage" asp-action="Delete" asp-route-id="@cp.CategoryId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3"></i> Διαγραφή
                                </a>
                            </div>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>
